:root {
  --text-color: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

body {
  font-family: "Roboto", sans-serif;

  /*Setting image as background*/
  /* background-image: url("../Images/sky.jpg"); */
  background-color: rgba(0, 219, 219, 0.751);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 85%;
  height: 65%;

  border: 2px solid rgb(255, 255, 255);
  border-radius: 20px;
  padding: 15px;
}
.location {
  display: flex;
  align-items: center;
  margin: 10px;
}
.location p {
  font-size: 2rem;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
